/* Global Settigns */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Variables */
:root{
    --white: #ffffff;
    --back: #000000;
    --neon: #5FCADF;
    --background: #000108;
}

/* Scrollbar Settigns */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #430BA1;
    border-radius: 10px;
}

/* ------ */

.links {
    position: fixed;
    bottom: 0;
    left: 2.5%;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 25px;
}

.links a {
    color: var(--white);
    transition: ease 1s all;
    cursor: pointer;
}

.links a:hover {
    color: #430ba1;
}

.links .line {
    width: 7px;
    height: 150px;
    background: var(--neon);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 5px;
}

body {
    background: var(--background);
}

/* Header */

header #logo {
    color: var(--white);
    font-size: 50px;
    font-family: 'Advent Pro', sans-serif;
}

header #logo span {
    color: var(--neon);
}

.nav li a {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    transition: ease .5s all;
}

.nav li a:hover {
    color: var(--neon);
    font-weight: 700;
}

.brazil {
    width: 25px;
}

.wrapper .Inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 112px;
}

.wrapper .Inicio .titulo .saudacao {
    color: var(--white);
    font-family: Poppins;
    font-size: 37px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.wrapper .Inicio .titulo .nome {
    font-family: Poppins;
    font-size: 154px;
    font-style: normal;
    font-weight: 600;
    line-height: 75%; /* 104.72px */
    letter-spacing: -5.39px;

    background: linear-gradient(90deg, #0A5CFF 7.3%, #430BA1 94.69%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 18px 0;
}

.infoMe {
    color: var(--white);
    font-size: 60px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
}

.wrapper .Inicio .titulo .me {
    color: var(--neon);
    font-family: Poppins;
}

.wrappee .Inicio .titulo .me span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.wrappee .Inicio .titulo .me span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }
    49% {
        background-color: #ccc;
    }
    50% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: #ccc;
    }
}

.wrapper .Inicio .cube {
    width: 650px;
}

.wrapper .Inicio .cube img {
    width: 603px;
    height: 410px;
    position: absolute;
    object-fit: cover;
    top: 21%;
    object-position: 66px -125px;
    filter: invert(144);
    animation: float 2s ease-in-out infinite;
}

@keyframes float{
	0%, 100%{
		transform:translatey(0);
        transform: rotate(-15deg);
	}
	50%{
		transform:translatey(-30px);
        transform: rotate(15deg);
	}
}

/* Me Styles */

.backMe {
    width: 900px;
    height: 350px;
    border-radius: 50px;
    background: rgba(8, 13, 31, 0.75);
    margin: 200px 0;

    display: flex;
    align-items: center;
}

.backMe .image {
    height: 100%;
}

.backMe .avatar {
    height: 100%;
    width: 300px;
    transform: rotate(-90.604deg);
}

.backMe .infoMeAbout {
    margin-left: -25px;
}

.backMe .infoMeAbout .infoMe-title {
    /* width: 506.32px; */

    color: var(--neon);
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.backMe .infoMeAbout .infoMe-text {
    /* width: 800px;
    height: 45px; */

    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Skills Styles */

#Habilidades {
    margin-bottom: 70px;
}

.hab-title {
    color: var(--neon);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Habilidades .line-1,
#Habilidades .line-2, 
#Habilidades .line-3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}

/* #Habilidades .line-1 .html {
    width: 126.611px;
    height: 126.611px;
} */

#Habilidades .lang img {
    width: 500px;
    margin-left: 50px;
}

/* Experience Styles */

#Experiencia {
    margin-bottom: 70px;
}

#Experiencia .line-title {
    color: #5FCADF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 121.5%;
}

#Experiencia .line-subtitle {
    color: #430BA1;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.5%;
}

#Experiencia .line-text {
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 121.5%;
}

#Experiencia .vertical-date {
    color: #bfbfbf80;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 121.5%; /* 42.525px */
}

#Experiencia .line-tecs {
    text-decoration: none;
    color: #40A4EA;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: 121.5%;
}

#Experiencia .techs-icons {
    font-size: 50px;
}

/* Projects Styles */

#Projeto {
    margin-bottom: 70px;
}

#Projeto .pro-title {
    color: var(--neon);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Projeto .projects .bentech {
    margin-top: 50px;
}

#Projeto .projects .selva .project,
#Projeto .projects .bentech .project {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

#Projeto .projects .selva .func,
#Projeto .projects .bentech .func {
    color: #430BA1;
    font-family: Poppins;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

#Projeto .projects .selva .link,
#Projeto .projects .bentech .link {
    color: #929292;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

/* Works Styles */

#Trabalho {
    margin-bottom: 150px;
}

#Trabalho .tra-title {
    color: var(--neon);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Trabalho img {
    border-radius: 29px;
    width: 475px;
}

#Trabalho .infoTitle {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

#Trabalho .infoSite {
    color: #430BA1;
    font-family: Poppins;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

#Trabalho .infoLink {
    color: #929292;
    font-family: Poppins;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 105px;
}

#Trabalho .infoTechs {
    color: #5FCADF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#Trabalho .infoT {
    color: #929292;
    font-family: Poppins;
    font-size: 17px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

#Trabalho .goGitHub {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

/* About Styles */

#Sobre {
    margin-bottom: 70px;
}

#Sobre .sob-title {
    color: var(--neon);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 70px;
}

#Sobre .sob {
    padding-left: 7%;
}

#Sobre img {
    border-radius: 53px;
    width: 350px;
    filter: grayscale(100%);
    transition: ease 1s all;
}

#Sobre img:hover {
    filter: grayscale(0);
}

#Sobre img:hover .telaW {
    transform: rotate(4.773deg);
}

#Sobre img:hover .telaB {
    transform: rotate(1deg);
}

#Sobre img:hover .telaP {
    transform: rotate(-4.523deg);
}

#Sobre .sob {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#Sobre .telaW {
    position: absolute;
    z-index: -1;

    width: 350px;
    height: 350px;
    transform: rotate(-4.773deg);

    border-radius: 53px;
    background: #FFF;
}

#Sobre .telaB {
    position: absolute;
    z-index: -1;

    width: 350px;
    height: 350px;
    transform: rotate(-1deg);

    border-radius: 53px;
    background: #40A4EA;
}

#Sobre .telaP {
    position: absolute;
    z-index: -1;

    width: 350px;
    height: 350px;
    transform: rotate(4.523deg);

    border-radius: 53px;
    background: #430BA1;
}

/* Contact Styles */

#Contato .cont-title {
    color: var(--neon);
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#Contato img {
    width: 500px;
    filter: grayscale(100%);
}

#Contato p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5%;
}

#Contato button {
    color: var(--white);
    border-radius: 22px;
    border: 5px solid #430BA1;
    transition: ease .5s all;
}

#Contato button:hover {
    background: #430BA1;
}

/* Footer Styles */

footer {
    margin-top: 80px;
    padding-bottom: 30px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer a {
    text-decoration: none;
    color: var(--white);
    transition: ease .5s;
}

footer i {
    font-size: 35px;
}

footer a:hover {
    color: var(--neon);
}